# OpenAI
OPENAI_API_KEY=sk-proj-xxx

# Dùng GPT-4o-mini 
# LLM_MODEL=gpt-4o-mini

# Chuyển sang GPT-4.1-mini
LLM_MODEL=gpt-4.1-mini

# LLM_MODEL=gpt-5.4-mini-2026-03-17

# LlamaCloud (LlamaParse)
LLAMA_CLOUD_API_KEY=llx-xxx

# Supabase
SUPABASE_URL=https://your-project-id.supabase.co
SUPABASE_SERVICE_KEY=eyJxxx
SUPABASE_CONNECTION_STRING=postgresql://postgres:your-password@db.your-project-id.supabase.co:5432/postgres

# App
FRONTEND_URL=http://localhost:3000
BACKEND_PORT=8001
